:root{


   --primary:#FFFFFF;
   --secondary:#67568c;
   --accent:#fbdd74;
   --heading:#1f1235;
   --button:#ff6e6c;

   color: var(--heading);
   
   
}
.container{
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
}

.logo{
    height: 30px;
    width: 30px;
}

img[src$=".svg"]{
    height: 20px;
    width: 20px;
    
}


.header{
    background-color: var(--accent);
    grid-column: 2/3;
    background-color: var(--primary,white);
   
}




.sidebar{
    background-color: var(--accent,blue);
    grid-row: 1/3;
    display: grid;
  
}





.main-content{
  
    background-color: var(--secondary,rgb(233, 215, 218));
   
}